/* Colors
 --------------------------------- */

/* Default */

$color-default-black: #000000;
$color-default-black-80: rgba(0, 0, 0, 0.8);

$color-default-white: #ffffff;
$color-default-white-15: rgba(255, 255, 255, 0.15);
$color-transparent: rgba(255, 255, 255, 0);

/* Project palette
 для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482 */

$color-dark-gray: #a7a7a7;
$color-light-gray: #d6d6d6;
$color-nero: #151515;
$color-storm-grey: #808183;
$color-tory-blue: #304c89;
$color-tory-blue-15: rgba(48, 76, 137, 0.15);
$color-tory-blue-25: rgba(48, 76, 137, 0.25);
$color-tory-blue-5: rgba(48, 76, 137, 0.05);
$color-granny-smith: #7f9c96;
$color-granny-smith-15: rgba(127, 156, 150, 0.15);
$color-don-juan: #654c4f;
$color-ghost-white: #f3f3f5;
$color-purple-heart: #6c43bf;
$color-tomato: #ff5858;
$color-turbo: #35332e;
$color-apple: #68aa43;
$color-dark-sea-green: #8fbc8f;
$color-lightgreen: #90ee90;
$color-summer-green: #87c7a0;
$color-hawkes-blue: #d6d9e1;
$color-light-slate-grey: #828792;
$color-lavender: #e4e1fa;
$color-white-smoke: #f5f5f5;
$color-international-klein-blue: #002bc1;
$color-pigment-green: #0da34e;
$color-dark-spring-green: #0a823e;
$color-silver: #bbbbbb;
$color-neon-blue: #4f5bff;

/* Gradient */

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

/* Typography
 --------------------------------- */

/* переменная используемая в html для подключения скейлинга */
$fz-default: 19px;

/* у некоторых шрифтов в ios возникают проблемы с символом рубля */
/* https://www.artlebedev.ru/kovodstvo/sections/159/#13 */
$ff-rouble: 'Rouble', 'Arial', sans-serif;

$ff-inter: 'Inter', 'Arial', sans-serif;

/* Animation
 --------------------------------- */

$tf-default: ease;
$trans-default: 0.15s $tf-default;

/* если требуется изинг отличный от $tf-default, то переменную называем не цифрой */
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

/* Viewports
 --------------------------------- */

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

/* Viewport height */

$vh-700: 700px;
$vh-800: 800px;
$vh-900: 900px;

/* Retina
 --------------------------------- */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
