/* @font-face {
	font-family: 'Inter';
	font-weight: 300 400 500 600 700;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
	src:
		local('Inter'),
		url('../../assets/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2');
} */
