:root {
	--btn-border: 1px solid rgba(255, 255, 255, 0.2);
	--btn-bg: transparent;
	--btn-shadow: 0px 0px 20px 0px #ce8c65;
	--btn-text-color: #f4f4f4;

	--shine-degree: 120deg;
	--shine-color: rgba(255, 255, 255, 0.4);
	--shine-effect: linear-gradient(
		var(--shine-degree),
		transparent 40%,
		var(--shine-color),
		transparent 50%
	);
	--shine-transition: all 0.65s ease-in-out;
}

.rouble {
	font-family: $ff-rouble;
	text-transform: lowercase;
	font-weight: 400;
}

@layer components {
	.btn {
		@apply relative inline-flex cursor-pointer  items-center justify-center overflow-hidden rounded-[200px] rounded-full border border-[#FFCCAE] bg-gradient-button text-xs font-bold text-amber-700 transition-all  lg:text-sm 2xl:text-base;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: var(--shine-effect);
		}
	}

	.btn_anim {
		&::before {
			left: -100%;
			transition: var(--shine-transition);
		}
		svg {
			transform: translateX(0);
			transition: var(--shine-transition);
		}
		&:hover {
			box-shadow: var(--btn-shadow);

			&::before {
				left: 100%;
			}
			svg {
				transform: translateX(5px);
			}
		}
	}

	.btn_anim_reverse {
		&::before {
			left: 100%;
		}

		&:hover {
			&::before {
				left: -100%;
			}
		}
	}

	.btn_no_anim {
		&:hover {
			@apply shadow-none;
		}
	}
	.btn_big {
		@apply h-[52px] px-5 py-2.5 2xl:px-[30px];
	}

	.btn_general {
		@apply h-[44px] px-[20px] py-2.5;
	}

	.btn_icon {
		@apply ml-auto gap-1.5;
	}

	.btnArrow {
		@apply h-6 w-9;
	}

	.btn_full {
		@apply w-full justify-between;
	}

	.title {
		@apply font-cormorant-infant text-4xl font-semibold uppercase leading-[1.1] text-blue-950 lg:text-[56px] 2xl:text-6xl;
	}

	.title_h2 {
		@apply font-noto-serif text-[22px]  font-normal leading-normal lg:text-4xl lg:leading-snug 2xl:text-[44px];
	}

	.title_h3 {
		@apply font-manrope text-base font-bold normal-case leading-normal lg:text-xl 2xl:text-2xl;
	}

	.text {
		@apply text-xs font-normal lg:text-sm 2xl:text-base;
	}
	.text_big {
		@apply text-base font-light lg:text-xl;
	}

	.spin-logo {
		@apply relative flex h-[211px] w-[211px] shrink-0 items-center justify-center;
	}
	.spin-logo__letters {
		@apply absolute left-1/2 top-1/2 h-[193px] w-[193px] -translate-x-1/2 -translate-y-1/2;
	}
	.spin-logo__image {
		@apply absolute h-[126px] w-[126px] -translate-x-1/2 -translate-y-1/2  [left:calc(50%-10px)] [top:calc(50%-10px)];
	}

	.sping-logo_mid,
	.spin-logo_small {
		@apply h-[130px] w-[130px] lg:h-[168px] lg:w-[168px] 2xl:h-[211px] 2xl:w-[211px];
		.spin-logo__letters {
			@apply h-[113px] w-[113px] lg:h-[146px] lg:w-[146px]  2xl:h-[193px] 2xl:w-[193px];
		}
		.spin-logo__image {
			@apply absolute h-[84px] w-[78px] -translate-x-1/2 -translate-y-1/2 [left:calc(50%-10px)] [top:calc(50%-10px)]   lg:h-[108px] lg:w-[100px]  2xl:h-[126px] 2xl:w-[126px];
		}
	}

	.spin-logo_micro {
		@apply h-[105px] w-[105px] lg:h-[168px] lg:w-[168px] 2xl:h-[211px] 2xl:w-[211px];
		.spin-logo__letters {
			@apply h-[91px] w-[91px] lg:h-[146px] lg:w-[146px]  2xl:h-[193px] 2xl:w-[193px];
		}
		.spin-logo__image {
			@apply absolute h-[68px] w-[62px] -translate-x-1/2 -translate-y-1/2 [left:calc(50%-8px)] [top:calc(50%-8px)] lg:h-[108px] lg:w-[100px]  lg:[left:calc(50%-10px)] lg:[top:calc(50%-10px)]  2xl:h-[126px] 2xl:w-[126px];
		}
	}

	.spin-logo_mid {
		@apply h-[168px] w-[168px] 2xl:h-[211px] 2xl:w-[211px];
		.spin-logo__letters {
			@apply h-[146px] w-[146px] lg:h-[146px] lg:w-[146px]  2xl:h-[193px] 2xl:w-[193px];
		}
		.spin-logo__image {
			@apply absolute h-[108px] w-[100px] -translate-x-1/2 -translate-y-1/2 [left:calc(50%-10px)] [top:calc(50%-10px)]  lg:h-[108px] lg:w-[100px]  2xl:h-[126px] 2xl:w-[126px];
		}
	}

	.animate-marquee {
		animation: marquee linear infinite;
	}

	.animate-rotate {
		animation: rotate linear infinite;
	}

	.animate-up-down-left-right {
		animation: down-up-right-left linear infinite;
	}

	.animate-up-down-left-right-scale {
		animation: down-up-right-left-scale linear infinite;
	}

	.animate-left-right-scale {
		animation: left-right-scale linear infinite;
	}

	.animate-right-left-scale {
		animation: right-left-scale linear infinite;
	}

	.animate-right-left {
		animation: right-left linear infinite;
	}
}
