.rouble {
	font-family: $ff-rouble;
	text-transform: lowercase;
	font-weight: 400;
}

@layer components {
	.btn {
		@apply inline-flex  items-center justify-center rounded-[200px] rounded-full border border-[#FFCCAE] bg-gradient-button text-base font-bold  text-amber-700 transition-all;
	}

	.btn_big {
		@apply h-[52px] px-[30px] py-2.5;
	}

	.btn_general {
		@apply h-[44px] px-[20px] py-2.5;
	}

	.btn_icon {
		@apply gap-1.5;
	}

	.btnArrow {
		@apply h-6 w-9;
	}

	.btn_full {
		@apply w-full;
	}

	.title {
		@apply font-cormorant-infant text-6xl font-semibold uppercase text-blue-950;
	}

	.title_h2 {
		@apply font-noto-serif text-[44px] font-normal leading-normal;
	}

	.title_h3 {
		@apply font-manrope text-2xl font-bold normal-case leading-normal;
	}

	.text {
		@apply text-base font-normal;
	}
	.text_big {
		@apply text-xl font-light;
	}

	.spin-logo {
		@apply relative flex h-[211px] w-[211px] items-center justify-center;
	}
	.spin-logo__letters {
		@apply absolute left-1/2 top-1/2 h-[193px] w-[193px] -translate-x-1/2 -translate-y-1/2;
	}
	.spin-logo__image {
		@apply absolute left-1/2 top-1/2 h-[126px] w-[126px]  -translate-x-1/2 -translate-y-1/2;
	}

	
}
